@import "tailwindcss";
@import "./theme.css";

@font-face {
  font-family: "Epilogue";
  src: url("../assets/fonts/Epilogue/Epilogue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: url("../assets/fonts/Epilogue/Epilogue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: url("../assets/fonts/Epilogue/Epilogue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: url("../assets/fonts/Epilogue/Epilogue-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: url("../assets/fonts/Epilogue/Epilogue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
.ant-form,
.ant-input::placeholder {
  font-family: "Epilogue";
}

.ant-input-outlined {
  background-color: var(--color-white-100);
  border-radius: 12px;
  border: 1px solid var(--color-white-100);
}

.ant-input-outlined:focus-within,
.ant-input-outlined:focus,
.ant-input-outlined:hover {
  border-color: var(--color-orange);
  box-shadow: 0 0 0 2px rgba(235, 141, 65, 0.1);
  background-color: var(--color-white-100);
}
