@import "tailwindcss";

@theme {
  --font-epilogue: "Epilogue";

  /* colours */
  --color-orange: #f05d23;
  --color-white-100: #f9fafc;
  --color-black: #260c1a;
  --color-lemon: #c5d86d;
  --color-green: #268941;
  --color-red: #d32f2f;
  --color-yellow: #fbbc05;
  --color-warning: #f78e31;
  --color-grey-icon: #969191;
  --color-orange-disabled: #ed9e7f;
  --color-lemon-disabled: #cdda95;

  /* text */
  --text-xsm: 8px;
  --text-xxsm: 10px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-next: 15px;
  --text-base: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;
  --text-28: 28px;
  --text-32: 32px;
  --text-36: 36px;
  --text-40: 40px;

  /* border radius */
  --radius-md: 8px;
  --radius-10: 10px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-30: 30px;
  --radius-50: 50px;

  /* breakpoints */
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 375px;
  --breakpoint-xsm: 425px;
  --breakpoint-ssm: 480px;
  --breakpoint-sms: 540px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-mxmd: 892px;
  --breakpoint-mmd: 940px;
  --breakpoint-lg: 1024px;
  --breakpoint-2lg: 1080px;
  --breakpoint-xlg: 1160px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1380px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1500px;

  /* box-shadow */
  --shadow-md: -4px 2px 5px 0px rgba(0, 0, 0, 0.24);
  --shadow-mmd: 0 0 10px rgba(0, 0, 0, 0.15);
  --shadow-input: 0 0 0 2px rgba(5, 145, 255, 0.1);
}
